html,
body,
#map-canvas {
    height: 100%;
    font-family: "Lato", sans-serif;;
}

.mapCanvas {
	position: relative;
	width: 100%;
    z-index: 0;
}

.locationInfoContent {
	position: absolute;
	bottom: 10px;
}


.inputBox {
    margin-bottom: 5px;
    height: 3vh;
}

.locationLists {
    float: left;
    background-color: whitesmoke;
    width: 40%;
    opacity: 0.8;
    height: 300px;
}

.wikiLists {
    float: right;
    background-color: whitesmoke;
    width: 55%;
    opacity: 0.8;
    height: 300px;

}

.wikiInfo {
    margin-left: 10px;
    margin-right: 10px;
}

.fixed-panel {
    overflow-y: scroll;
}

.panel-heading {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.locationListsEntry {
    background-color: #b2dba1;
    margin-bottom: 5px;

}

@media only screen
and (max-width: 700px) {
    .locationLists {
        float: none;
        height: 150px;
        width: auto;
        margin-right: 15px;
        margin-bottom: 5px;
        font-size: 10pt;
    }
    .wikiLists {
        float: none;
        height: 150px;
        width: auto;
        margin-right: 15px;
        font-size: 10pt;
    }
    .inputBox {
        margin-bottom: 5px;
        height: 3vh;
        width: 93%;
    }
    .locationInfoContent {
        margin-left: 45px;
        width: 90%;
    }
}

/* iPhone */
@media only screen 
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .locationInfoContent {
        margin-right: 10px;
    }
    .locationLists {
        float: none;
        height: 150px;
        width: auto;
        margin-left: 35px;
        margin-right: 10px;
        margin-bottom: 5px;
        font-size: 10pt;
    }

    h3 {
        font-size: 12pt;
    }

    .wikiLists {
        float: none;
        height: 150px;
        width: auto;
        margin-left: 35px;
        margin-right: 10px;
        font-size: 10pt;
    }
    .inputBox {
        margin-left: 35px;
        margin-bottom: 2px;
        height: 3vh;
    }
    .form-control {
        width: 50%;
    }
    img {
        width: 100%;
    }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
    .locationInfoContent {
        width: 650px;
        height: 170px;
    }
    .locationLists {
        float: left;
        width: 40%;

    }
    .wikiLists {
        float: right;
        width: 45%;

    }
    .form-control {
        width: 40%;
    }
    .inputBox {
        height: 6vh;
    }
    .img {
        width: 100%;
    }
}

/* iPad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .locationInfoContent {
        margin-left: 35px;
        margin-bottom: 5px;
    }
    .form-control {
        width: 40%;
    }
}

/* iPad in portrait  */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .locationInfoContent {
        width: 92%;
    }
}

@media only screen
and (min-device-width: 1024px){
    .locationInfoContent {
        margin-left: 10%;
        margin-right: 10%;
    }
    .form-control {
        width: 40%;
    }
}